@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans';
}

.container {
    width: 340px;
    background-color: white;
    border-radius: 0.94rem;
    box-shadow: 0.32rem 0.63rem 3rem hsla(229, 23%, 23%, 0.507);
}

.imagem-bolha img {
    max-width: 21.27rem;
    border-top-left-radius: 0.94rem;
    border-top-right-radius: 0.94rem;
}

.imagem-pessoa img {
    max-width: 6.875rem;
    position: relative;
    bottom: 3.1rem;
    border-radius: 3.4rem;
    border-style: solid;
    border-color: white;
    border-width: 0.32rem;
}

.imagem-pessoa {
    text-align: center;
}

.infos-acima {
    text-align: center;
    position: relative;
    bottom: 1.9rem;
}

.infos-acima > h1 {
    margin-bottom: 0.6rem;
    font-size: 1.12rem;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

#idade {
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    margin-left: 0.3rem;
    font-size: 1.1rem;
}

.cidade {
    color: hsl(0, 0%, 59%);
    font-weight: 400;
    font-size: 0.8rem;
}

.infos-abaixo {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1.25rem;
}

.numeros {
    font-size: 1.12rem;
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    text-align: center;
}

.palavras {
    font-size: 0.62rem;
    color: hsl(0, 0%, 59%);
    margin-top: 0.44rem;
    letter-spacing: 0.06rem;
    text-align: center;
}

hr {
    margin-bottom: 1.25rem;
    background-color: hsla(0, 0%, 59%, 0.158);
    height: 0.125rem;
    border: none;
}